

/*-------------------------
	The clocks
--------------------------*/


/* #clock{ width: 370px; padding: 40px; margin: 0 auto 30px; position: relative; }

#clock:after{
	content:'';
	position:absolute;
	width:400px;
	height:20px;
	border-radius:100%;
	left:50%;
	margin-left:-200px;
	bottom:2px;
	z-index:-1;
}


.display{
	text-align:center;
	padding: 40px 20px 20px;
	border-radius:6px;
	position:relative;
	height: 54px;
} */


/*-------------------------
	Light color theme
--------------------------*/


#clock.light{
	background-color:#f3f3f3;
	color:#272e38;
}

#clock.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
}

.digits span {
	background-color:#272e38;
	border-color:#272e38;	
}

#clock.light .digits div.dots:before,
#clock.light .digits div.dots:after{
	background-color:#272e38;
}

#clock.light .alarm{
	/* background:url('../img/alarm_light.jpg'); */
}

#clock.light .display{
	background-color:#dddddd;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
	Dark color theme
--------------------------*/


#clock.dark{
	background-color:#272e38;
	color:#cacaca;
}

#clock.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#clock.dark .digits div span{
	background-color:#cacaca;
	border-color:#cacaca;	
}

#clock.dark .alarm{
	/* background:url('../img/alarm_dark.jpg'); */
}

#clock.dark .display{
	background-color:#0f1620;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after{
	background-color:#cacaca;
}


/*-------------------------
	The Digits
--------------------------*/

.digits {
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}

 .digits span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

.digits span:before,
.digits span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
}

.digits .d1{			height:5px;width:16px;top:0;left:6px;}
.digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
.digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

.digits .d2{			height:5px;width:16px;top:24px;left:6px;}
.digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
.digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

.digits .d3{			height:5px;width:16px;top:48px;left:6px;}
.digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
.digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

.digits .d4{			width:5px;height:14px;top:7px;left:0;}
.digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

.digits .d5{			width:5px;height:14px;top:7px;right:0;}
.digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

.digits .d6{			width:5px;height:14px;top:32px;left:0;}
.digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

.digits .d7{			width:5px;height:14px;top:32px;right:0;}
.digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

.digits.one .d5,
.digits.one .d7{
	opacity:1;
}

/* 2 */

.digits.two .d1,
.digits.two .d5,
.digits.two .d2,
.digits.two .d6,
.digits.two .d3{
	opacity:1;
}

/* 3 */

.digits.three .d1,
.digits.three .d5,
.digits.three .d2,
.digits.three .d7,
.digits.three .d3{
	opacity:1;
}

/* 4 */

.digits.four .d5,
.digits.four .d2,
.digits.four .d4,
.digits.four .d7{
	opacity:1;
}

/* 5 */

.digits.five .d1,
.digits.five .d2,
.digits.five .d4,
.digits.five .d3,
.digits.five .d7{
	opacity:1;
}

/* 6 */

.digits.six .d1,
.digits.six .d2,
.digits.six .d4,
.digits.six .d3,
.digits.six .d6,
.digits.six .d7{
	opacity:1;
}


/* 7 */

.digits.seven .d1,
.digits.seven .d5,
.digits.seven .d7{
	opacity:1;
}

/* 8 */

.digits.eight .d1,
.digits.eight .d2,
.digits.eight .d3,
.digits.eight .d4,
.digits.eight .d5,
.digits.eight .d6,
.digits.eight .d7{
	opacity:1;
}

/* 9 */

.digits.nine .d1,
.digits.nine .d2,
.digits.nine .d3,
.digits.nine .d4,
.digits.nine .d5,
.digits.nine .d7{
	opacity:1;
}

/* 0 */

.digits.zero .d1,
.digits.zero .d3,
.digits.zero .d4,
.digits.zero .d5,
.digits.zero .d6,
.digits.zero .d7{
	opacity:1;
}


/* The dots */

.digits.dots{
	width:5px;
	color: #272e38;
}

.digits.dots:before,
.digits.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
	background-color: #272e38;
}

.digits.dots:after{
	top:34px;
}



